.App {
  box-sizing: border-box;
  margin: 0;
  --mainBlue: #6495ed;
}
body {
  margin: 0 auto;
}
h2 {
  font-weight: 700;
}
.header {
  background-color: rgba(100, 149, 237, 1);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  width: 100%;
}
.header h1 {
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
.topImage {
  background-image: url(https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  font-family: "Noto Sans JP", sans-serif;
  height: 250px;
  width: 100%;
}
.filter {
  background-color: var(--mainBlue);
  opacity: 0.5;
  height: 100%;
  transition: opacity 1s;
}
.filter:hover {
  opacity: 0;
}
content {
  background-image: url(https://i.pinimg.com/originals/e0/f7/de/e0f7dea5fa70fcb23a5df52641a249ec.jpg);
  background-position: center;
  border-top: 15px solid var(--mainBlue);
  display: flex;
  flex-flow: column wrap;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
content h2 {
  font-weight: 700;
}
.title {
  width: 100%;
}
.section {
  border-left: 5px solid var(--mainBlue);
  font-family: "Noto Sans", sans-serif;
  padding-left: 15px;
  width: 100%;
}

footer {
  background-color: rgba(100, 149, 237, 1);
  width: 100%;
}

@media screen and (min-width: 641px) {
  .topImage {
    height: 400px;
  }
  content {
    flex-flow: row wrap;
  }
  .section {
    flex: 3 1 80%;
    margin: 5px;
    width: 70%;
  }
  .title {
    flex: 1 0 10%;
    margin: 5px;
    width: 30%;
  }
}
